# Ignore virtual environment directories
venv/
.venv/

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Editor and IDE settings
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Packaging
*.egg-info/
dist/
build/

# API keys file
.env

# Secrets management
./quilla-gpt/.streamlit/secrets.toml