/* Ajusta los márgenes generales del contenedor */
.block-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

div[data-testid="stSidebarUserContent"] {
    padding-top: 1rem;
}

/* Apple Bubble Chat CSS */
.chat-row {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.row-reverse {
    flex-direction: row-reverse;
}

:root {
    --send-bg: #0B93F6;
    --send-color: white;
    --receive-bg: #E5E5EA;
    --receive-text: black;
    --page-background: white;
}

/* Creating a tail for the user chat bubble */
.user-message {
    margin: 0; /*separacion entre el bubble y el icono*/
    display: flex;
    flex-direction: column;
    background-color: var(--page-background);

    max-width: 1000px; /*maxima cantidad de caracteres por linea*/
    
    word-wrap: break-word;
    line-height: 24px;
    position: relative;
    padding: 10px 20px; /*espacio top y costados del texto del mensaje*/
    border-radius: 25px; /*radio de bordeado del mensaje*/
    
    color: var(--send-color); 
    background: var(--send-bg);
    align-self: flex-end;
    
    &:before, &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 25px;
    }

    color: var(--send-color); 
	background: var(--send-bg);
		
    /* tail styling*/
	&:before {
		right: -7px;
        width: 20px;
        background-color: var(--send-bg);
		border-bottom-left-radius: 16px 14px;
	}

	&:after {
		right: -26px;
        width: 26px;
        background-color: var(--page-background);
		border-bottom-left-radius: 10px;
	}
}

.st-emotion-cache-1lvxfs7 {
    color: #00205B;
}

.st-emotion-cache-89jlt8 {
    font-size: large;
}

/* .element-container:has(style){
    display: none;
}
#button-logout {
    display: none;
}
#button-indicadores {
    display: none;
}
.element-container:has(#button-logout) {
    display: none;
}
.element-container:has(#button-indicadores) {
    display: none;
}
.element-container:has(#button-logout) + div button {
    color: #F24B4B;
    border-color: #F24B4B;
}
.element-container:has(#button-indicadores) + div button {
    color: white;
    border-color: black;
}
.element-container:has(#button-logout) + div button:active,
.element-container:has(#button-logout) + div button:focus {
    background-color: #F24B4B;
    color: white;
}
.element-container:has(#button-indicadores) + div button:active,
.element-container:has(#button-indicadores) + div button:focus {
    background-color: black;
    color: white;
} */

/* button[class*="logout"] {
    color: #F24B4B;
    border-color: #F24B4B;
} */

/* button[kind="secondary"] {
    background-color: black;
    color: white;
}

button[kind="secondary"]:hover {
    background-color: black;
    color: white;
    border-color: black;
}

button[kind="secondary"]:active {
    background-color: black;
    color: white;
    border-color: black;
} */

/* button[kind="secondary"]:active {
    background-color: #F24B4B;
    color: white;
    border-color: #F24B4B
} */